<%- include("partials/header") -%>

<h1>Compose</h1>

<form action="/compose" method="post">
    <div class="">
        <label for="">Title</label>
        <input type="text" name="postTitle" class="form-control top" autocomplete="off" autofocus required>

        <label for="">Post</label>
        <textarea name="postBody" class="form-control", rows="7"></textarea>
        <button type="submit" name="button" class="btn btn-primary publish">Publish</button>
    </div>

</form>

<%- include("partials/footer") -%>